:root {
	font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  flex-direction: column;
}

body img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  opacity: 0.75;
}

footer {
  width: 100%;
  text-align: center;
  margin-top: 3rem;
  position: relative;
  z-index: 4;
  color: whitesmoke;
  margin-bottom: 2rem;
}

.main {
  width: 90%;
  max-width: 1480px;
  min-height: 70vh;
  align-self: center;
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  position: relative;
  z-index: 2;
}

.titulo {
  padding: 1rem;
  width: 100%;
  justify-self: center;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  z-index: 3;
  color: white;
  font-size: 3rem;
  margin-top: 2rem;
}

.btn {
  border: 0;
  color: white;
  font-weight: bold;
  background-color: #0A3871;
  padding: 0.8rem;
  margin-top: 0.8rem;
  border-radius: 0.5em;
}

.text-input {
  border: 1px solid white;
  border-radius: 2rem;
  display: block;
  padding: 2rem;
  width: 100%;
  height: 40vh;
  background-color: whitesmoke;
  opacity: 0.9;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  resize: none;
}

.form{
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 70vh;
  padding: 2.5rem 5rem 2.5rem 0;
  justify-content: space-between;
}

.form span{
  color: white;
  font-size: small;
  background-color: black;
  border-radius: 6px;
  padding: 6px;
  width: fit-content;
}

.msg{
  display: flex;
  flex-direction: column;
  width: 30%;
  padding: 2rem;
  background-color: white;
  border-radius: 2rem;
  justify-content: space-between;
  height: calc(70vh - 5rem);
  align-self: center;
}

.msg-text{
  width: 100%;
  height: 50%;
  resize: none;
  padding: 2rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bolder;
}

.error{
  color: red;
}

/* MEDIA QUERIES */
@media (max-width: 768px) {
  :root {
    font-size: 12px;
  }
  .main {
    width: 100%;
    flex-direction: column;
  }
  .form{
    width: 80%;
    height: 50vh;
    justify-content: center;
    justify-self: center;
    align-self: center;
    padding-right: 0;
  }
  .text-input {
    height: 25vh;
  }
  .msg{
    width: 80%;
    height: 50vh;
    align-self: center;
    padding: 2rem 1rem;
  }
  footer{
    padding: 0 1rem;
  }
}

@media (min-width: 768px) and (max-width: 1079px) {
  :root {
    font-size: 14px;
  }
  .form{
    width: 65%;
    padding: 5rem 2.5rem 5rem 0;
  }
  .text-input {
    height: 35vh;
  }
  .msg{
    width: 35%;
    align-self: center;
    padding: 2rem 1rem;
    height: calc(70vh - 10rem);
  }
  footer{
    padding: 0 1rem;
  }
}